---
import Acordeon from "../components/Acordeon.astro";
const category = ["Most Recent", "Relevant", "Popular", "Comun"];
const faq = [
	{
		question:"What services do you offer?",
		answer: "On our website, we offer a wide range of services to meet our clients' needs. Some of our services include [list of services]. You can find more details on our services page.",
	},
	{
		question: "What is the cost of your services?",
		answer: "The cost of our services can vary depending on the nature of the work required. To get an accurate quote, we recommend contacting us directly or filling out the request a quote form on our contact page. Our team will get in touch with you and provide a personalized estimate.",
	},
	{
		question: "How can I request your services?",
		answer: "Requesting our services is easy. You can call us at the phone number listed on our contact page or fill out the online service request form. Once we receive your request, our team will review the details and get in touch with you to discuss the next steps.",
	},
	{
		question: "What is your response time?",
		answer: "We strive to provide a prompt response to all inquiries and service requests. Typically, you can expect to receive a response within 24 hours of your inquiry. However, during periods of high demand, this response time may be slightly longer. We appreciate your patience and will do our best to address your request as quickly as possible.",
	},
	{
		question: "Do you offer any warranty or refund for your services?",
		answer: "Yes, we offer a warranty on our services. If for any reason you are not satisfied with the work performed, please contact us immediately, and we will do our best to resolve any issues. As for refunds, we evaluate each situation on a case-by-case basis. We recommend reviewing our terms and conditions for more information on our refund policy.",
	},
	{
		question: "How long will it take to complete the work?",
		answer: "The time required to complete the work depends on various factors, such as the complexity of the project and resource availability. By contacting us and providing more details about your request, we can give you a more accurate estimate of the required time. We are committed to completing our work efficiently without compromising quality.",
	},
];
---

<section class="pt-16 pb-20 lg:pt-28">
	<div class="flex flex-wrap items-end gap-4 justify-between mb-6">
		<div>
			<h2 class="text-important">most</h2>
			<h1 class="text-title">FAQ</h1>
		</div>
		<ul class="flex flex-wrap gap-4">
			{
				category.map((e) => {
					return (
						<li>
							<a href="#">
								<div class="bg-slate-800 px-6 py-2 rounded-full capitalize ">
									{e}
									<i class="fa-solid fa-chevron-right text-sm ml-2" />
								</div>
							</a>
						</li>
					);
				})
			}
		</ul>
	</div>
	<div class="w-full">
		{
			faq.map((e, i) => {
				return (
					<Acordeon
						id={`parent-${i}`}
						key={`dropdown-${i}`}
						question={e.question}
						answer={e.answer}
					/>
				);
			})
		}
	</div>
</section>
